# Игнорировать зависимости, установленные на хост-машине
node_modules

# Игнорировать логи и временные файлы
npm-debug.log
vite-dev.log

# Игнорировать файлы сборки (если они случайно попадут в директорию)
dist
.vite
